@import "./topbar";
@import "./search.scss";
.m-header{
  @at-root .layout-default{
    .el-header{
      .m-header {
        width: 100%;
      }
    }
  }
  >.el-row:nth-child(1){
    width: 1190px;
    margin: 0 auto;
    z-index: 9999;
    height: 60px;
    line-height: 50px;
  }
  >.el-row:nth-child(2){
    background: #fff;
    .search-panel{
      width: 1190px;
      margin: 0 auto;
    }
  }
  >.el-main {
    overflow: unset;
  }
}
